/* TODO Don't forget to delete unneeded. */

.container {
    display: grid;
    height: 100vh;
    column-gap: .2rem;
    row-gap: 0;
    grid-template-rows: 10vh calc(80vh - 1rem) 10vh 1rem;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
            "header header header"
            ". content ." 
            "footer footer footer"
            "avoid-overflow avoid-overflow avoid-overflow";
}
@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 0fr 1fr 0fr;
    }
}


.loadingFullscreen {
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
    background: linear-gradient(#dddddd, #222222);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .1vw;
    -webkit-text-stroke-color: #222222;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 4vh;
}
@media only screen and (max-width: 600px) {
    .header h1 {
        font-size: 3vh;
    }
}

.content {
    grid-area: content;
    padding: 3vh;
    align-self: center;
    text-align: center;
}

.content > p {
    font-size: 2vh;
    text-align: center;
    padding-bottom: 1vh;
}

.content > h1 {
    color: #666;
    background-color: #ededed;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    font-size: 1.5vh;
    letter-spacing: .8vh;
    font-weight: normal;
    text-align: center;
    margin-top: 2vh;
}

.content > h2 {
    font-size: 2.1vh;
    letter-spacing: .3rem;
    color: #754136;
}
@media only screen and (max-width: 800px) {
    .content > h2 {
        font-size: 1.5vh;
    }
}
@media only screen and (max-width: 600px) {
    .content > h2 {
        font-size: 1.3vh;
    }
}
@media only screen and (max-width: 400px) {
    .content > h2 {
        display:none;
    }
}

.callToAction {
    background-color: #eee;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
}

@keyframes shrink-and-grow {
    0%, 100% { transform: scale(1); }
    90% { transform: scale(.5); }
}

.callToActionChecking {
    composes: callToAction;
    animation: shrink-and-grow 1s;
    color: #eee;
}

.secureMic {
    
}
@media only screen and (max-width: 600px) {
    .secureMic {
        width: 80%;
    }
}

.startButton {
    background-color: #aa6622;
    border-style: solid;
    border-width: .3vw;
    border-color: #222;
    width: 55vw;
    font-weight: bold;
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.startButton:hover {
    background-color: #cc7733;
}

.startButton:active {
    background-color: #aa6622;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: end;
    justify-content: end;
}

.poweredByWisp {
    max-height: initial;
    max-width: 20vw;
}